.git
.github
.env
.env.*
vendor
node_modules
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
bootstrap/cache/*.php
*.sql
*.zip
*.rar
*.7z
*.bak
*.backup
route-before-refactor.txt
route-after-refactor.txt
cartItems
er-*cartItems*
public/storage